    @import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: Raleway, sans-serif;
    }
    
    body {
        background: linear-gradient(90deg, #d6eaff, #99d0ff);
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
    
    .screen {
        background: #99d0ff;
        position: relative;
        height: 600px;
        width: 400px;
        box-shadow: 0px 0px 24px #5C5696;
    }
    
    .register-screen {
        height: 700px !important;
    }
    
    .screen__content {
        z-index: 1;
        position: relative;
        height: 100%;
    }
    
    .screen__background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        -webkit-clip-path: inset(0 0 0 0);
        clip-path: inset(0 0 0 0);
    }
    
    .screen__background__shape {
        transform: rotate(45deg);
        position: absolute;
    }
    
    .screen__background__shape1 {
        height: 520px;
        width: 520px;
        background: #FFF;
        top: -50px;
        right: 120px;
        border-radius: 0 72px 0 0;
    }
    
    .screen__background__shape2 {
        height: 443px;
        width: 104px;
        background: #6C63AC;
        top: -172px;
        right: 0;
        border-radius: 32px;
    }
    
    .screen__background__shape3 {
        height: 540px;
        width: 190px;
        background: linear-gradient(270deg, #5D54A4, #6A679E);
        top: 128px;
        right: 0;
        border-radius: 32px;
    }
    
    .screen__background__shape4 {
        height: 400px;
        width: 200px;
        background: #7E7BB9;
        top: 420px;
        right: 50px;
        border-radius: 60px;
    }
    
    .login,
    .register {
        width: auto;
        padding: 30px;
        padding-top: 156px;
    }
    
    .login__field {
        padding: 20px 0px;
        position: relative;
    }
    
    .login__icon {
        position: absolute;
        top: 30px;
        color: #7875B5;
    }
    
    .login__input {
        border: none;
        border-bottom: 2px solid #D1D1D4;
        background: none;
        padding: 10px;
        padding-left: 24px;
        font-weight: 700;
        width: 100%;
        transition: .2s;
    }
    
    .login__input:active,
    .login__input:focus,
    .login__input:hover {
        outline: none;
        border-bottom-color: #6A679E;
    }
    
    .login__submit {
        background: #fff;
        font-size: 14px;
        margin-top: 30px;
        padding: 10px 20px;
        border-radius: 26px;
        border: 1px solid #D4D3E8;
        text-transform: uppercase;
        font-weight: 700;
        display: flex;
        align-items: center;
        width: 100%;
        color: #4C489D;
        box-shadow: 0px 2px 2px #5C5696;
        cursor: pointer;
        transition: .2s;
        background-color: #bae1ba;
    }
    
    .login__submit:active,
    .login__submit:focus,
    .login__submit:hover {
        border-color: #6A679E;
        outline: none;
    }
    
    .button__icon {
        font-size: 24px;
        margin-left: auto;
        color: #7875B5;
    }
    
    .social-login {
        position: absolute;
        height: 100px;
        width: 160px;
        text-align: center;
        bottom: 0px;
        right: 0px;
        color: #fff;
    }
    
    .sign-up {
        width: 28rem !important;
    }
    
    .sign-in {
        width: 62rem !important;
    }
    
    .social-icons {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .social-login__icon {
        padding: 20px 10px;
        color: #fff;
        text-decoration: none;
        text-shadow: 0px 0px 8px #7875B5;
    }
    
    .social-login__icon:hover {
        transform: scale(1.5);
    }
    
    .sign-up a,
    .forgot a,
    .sign-in a {
        font-size: 15px;
        margin-top: 5px;
        color: #fff200;
    }
    
    .page_head {
        color: #0a0604;
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 23px;
        z-index: 9999999999;
        font-weight: bolder;
        text-shadow: 0 0 3px #FF0000;
        width: 100%;
        text-align: center;
    }
    
     ::placeholder {
        color: rgb(194, 145, 145);
        opacity: 1;
        /* Firefox */
    }
    
    button:click {
        color: #0a0604
    }
    
     ::-ms-input-placeholder {
        /* Edge 12 -18 */
        color: rgb(194, 145, 145);
    }
    
    @media only screen and (min-width: 600px) {}
    
    @media only screen and (max-width: 760px) {
        .register-screen {
            height: 900px !important;
        }
    }